@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PtRoot';
  src: url('./asserts/fonts/PT Root UI_Medium.otf');
}

body {
  font-family: PtRoot, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.header {
  background: #97e9b6;
}

/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mask {
  /* width: 100%;
  height: calc(100vh - 100px); */
  background: rgba(14, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}

.text-box {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 限制最多显示3行文字 */
  -webkit-box-orient: vertical; /* 设置为垂直方向 */
}

.process-box {
  height: 0.5rem;
  border-radius: 48px;
  border-bottom: 1px solid rgba(23, 96, 133, 1);
}

/* .process-box::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: rgba(114, 142, 173, 1);
} */

.process-0 {
  position: absolute;
  height: 100%;
  opacity: 1;
  border-radius: 48px;
  background: rgba(134, 239, 172, 1);
  z-index: 1;
}

.process-1 {
  position: absolute;
  height: 100%;
  opacity: 1;
  border-radius: 48px;
  background: rgba(209, 213, 219, 1);
  z-index: 0;
}
